<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>


<div class="message-content">
  <p>Hello {{name}}</p>
  <p>A request has been received to change the password for your GoBarber account.</p>
  <p>Click on the link to change your password.</p>
  <p>
    <a href="{{link}}">Reset Password.</a>
  </p>
  <p>If you did not make this request, please ignore this email.</p>
  <p>Thank you! <strong>Team GoBarber</strong></p>
</div>
